settings
build
*.dep
*.SchDocPreview
backup*
Debug
Release
*.ctu-info
cppcheck*
*.out
nul
c_cpp_properties.json
.idea/
~$*
.cache/
*.so
*.dat
.sync-conflict*
*.tmp
*.config.old
__pycache__/
.cursorrules
history*
memory-bank/
.roo/
.roomodes
*JLink*
*.bak
*.uvgui*
*.hex
*.elf
*.bin
*.map
*.lst
*.d
uVision/
keil-assistant.log
uv4.log.lock


